{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Сокращение ссылок{% endblock %}</title>

    {% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

        <!-- Gritter -->
        <link href="{% static 'js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    {% endblock %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block style %}
    {% endblock %}

</head>

<body class="{% block body_class %}fixed-sidebar no-skin-config mini-navbar pace-done{% endblock %}">
<div id="wrapper">
    {% include 'base/sidebar.html' %}
    <div id="page-wrapper" class="gray-bg">
        {% block header %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        {% block header_buttons %}
                            <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Я ищу..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a class="m-r-sm text-muted welcome-message" href="{% url 'home' %}">Система сокращения ссылки</a>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Выйти
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </div>
</div>

{% block js %}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
{% endblock %}
</body>
</html>
