{% extends "base.html" %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <h2>Авторизация</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <h4>Выполните вход или зарегистрируйтесь</h4>
                    <hr />
                    <div class="form-group">
                        <label for="id_username" class="col-md-2 control-label">User name</label>
                        <div class="col-md-10">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" class='btn btn-success' value="Log in" class="btn btn-default" />
                            <a href="{% url 'register' %}" class='btn btn-success'>Зарегистрироваться</a>
                        </div>
                    </div>
                    {% if form.errors %}
                    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                    {% endif %}
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"> 
            </section>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'short_url/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
