{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight"></div>
    <div class="row">
        <div class ="col-md-8">
            <section id="registerForm">
                <form name="registerForm" method="post" class="form-horizontal">
                    <h4>Зарегистрируйтесь</h4>
                    <hr />
                    {% csrf_token %}
                    {{ form.username|as_crispy_field }}<br>
                    {{ form.password1|as_crispy_field }}<br>
                    {{ form.password2|as_crispy_field }}<br>
                    {{ form.errors }}<br>
                    <input class="btn btn-success" type="submit" value="Зарегистрироваться" />
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}