@font-face {
  font-family: "Symbol";
  src: url("../fonts/SymbolMT.eot");
  src: url("../fonts/SymbolMT.eot?#iefix") format("embedded-opentype"), url("../fonts/SymbolMT.woff2") format("woff2"), url("../fonts/SymbolMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Magic";
  src: url("../fonts/Magic.eot");
  src: url("../fonts/Magic.eot?#iefix") format("embedded-opentype"), url("../fonts/Magic.woff2") format("woff2"), url("../fonts/Magic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Academy";
  src: url("../fonts/Academy.eot");
  src: url("../fonts/Academy.eot?#iefix") format("embedded-opentype"), url("../fonts/Academy.woff2") format("woff2"), url("../fonts/Academy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TextBook";
  src: url("../fonts/TextBook-Regular.eot");
  src: url("../fonts/TextBook-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TextBook-Regular.woff2") format("woff2"), url("../fonts/TextBook-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TextBook";
  src: url("../fonts/TextBook-Bold.eot");
  src: url("../fonts/TextBook-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TextBook-Bold.woff2") format("woff2"), url("../fonts/TextBook-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Magic";
  src: url("../fonts/Magic-Bold.eot");
  src: url("../fonts/Magic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Magic-Bold.woff2") format("woff2"), url("../fonts/Magic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Academy";
  src: url("../fonts/Academy-Italic.eot");
  src: url("../fonts/Academy-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Academy-Italic.woff2") format("woff2"), url("../fonts/Academy-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.journal .journal-wrapper .journal-item h1 {
  font-family: Academy;
  font-size: 42pt;
  font-weight: normal;
  padding: 0 10pt;
  line-height: 36pt;
  text-align: center;
}
.journal .journal-wrapper .journal-item h2 {
  font-family: Magic;
  font-size: 26pt;
  text-align: center;
  font-weight: normal;
}
.journal .journal-wrapper .journal-item p, .journal .journal-wrapper .journal-item ol li, .journal .journal-wrapper .journal-item ul li {
  font-family: Academy;
  font-size: 15pt;
}
.journal .journal-wrapper .journal-item p strong, .journal .journal-wrapper .journal-item ol li strong, .journal .journal-wrapper .journal-item ul li strong {
  font-family: Magic;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item p sup a.footnote-ref, .journal .journal-wrapper .journal-item ol li sup a.footnote-ref, .journal .journal-wrapper .journal-item ul li sup a.footnote-ref {
  color: #7a7a7a;
  font-size: 70%;
}
.journal .journal-wrapper .journal-item .author p, .journal .journal-wrapper .journal-item .authors2 p, .journal .journal-wrapper .journal-item .authors3 p {
  font-family: Magic;
  font-size: 14pt;
  font-weight: normal;
}
.journal .journal-wrapper .journal-item .author p strong, .journal .journal-wrapper .journal-item .authors2 p strong, .journal .journal-wrapper .journal-item .authors3 p strong {
  color: #a1211e;
}
.journal .journal-wrapper .journal-item .author p a img {
  width: 49%;
  max-width: 200px;
}
.journal .journal-wrapper .journal-item .authors2 p a img {
  width: 49%;
  max-width: 181px;
}
.journal .journal-wrapper .journal-item .authors3 p a img {
  width: 33%;
  max-width: 181px;
}
.journal .journal-wrapper .journal-item .lead {
  margin-bottom: 50px;
}
.journal .journal-wrapper .journal-item .lead p {
  font-family: Magic;
  font-size: 16pt;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item .lead p strong {
  color: #a1211e;
}
.journal .journal-wrapper .journal-item .bawl p {
  font-family: Magic;
  font-size: 16pt;
  font-weight: bold;
  color: #5d8fc1;
}
.journal .journal-wrapper .journal-item .bawl p strong {
  color: #a1211e;
}
.journal .journal-wrapper .journal-item .bawl p:before {
  content: "[ ";
  font-size: 16pt;
  color: #a1211e;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item .bawl p:after {
  content: " ]";
  font-size: 16pt;
  color: #a1211e;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item table tbody tr td, .journal .journal-wrapper .journal-item table tbody tr th, .journal .journal-wrapper .journal-item table thead tr td, .journal .journal-wrapper .journal-item table thead tr th {
  padding: 4px 6px;
}
.journal .journal-wrapper .journal-item table tbody tr td, .journal .journal-wrapper .journal-item table tbody tr th, .journal .journal-wrapper .journal-item table thead tr td, .journal .journal-wrapper .journal-item table thead tr th {
  font-family: TextBook;
  text-align: left;
  font-size: 14pt;
  font-weight: normal;
  line-height: 16pt;
  margin-top: 0;
}
.journal .journal-wrapper .journal-item table thead tr td, .journal .journal-wrapper .journal-item table thead tr th {
  text-align: center;
  background: #82a0be;
  color: #fff;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item table tbody tr:nth-child(odd) td, .journal .journal-wrapper .journal-item table tbody tr:nth-child(odd) th {
  background: #d6e7f6;
  color: #4a4a4a;
}
.journal .journal-wrapper .journal-item table tbody tr:nth-child(even) td, .journal .journal-wrapper .journal-item table tbody tr:nth-child(even) th {
  background: #cbe0f3;
  color: #4a4a4a;
}
.journal .journal-wrapper .journal-item blockquote, .journal .journal-wrapper .journal-item table {
  text-align: left;
  background: #cbe0f3;
}
.journal .journal-wrapper .journal-item blockquote h2, .journal .journal-wrapper .journal-item table h2 {
  font-family: Magic;
  font-size: 28pt;
  text-align: left;
  letter-spacing: -0.5pt;
  font-weight: bold;
}
.journal .journal-wrapper .journal-item blockquote p, .journal .journal-wrapper .journal-item blockquote ul li, .journal .journal-wrapper .journal-item blockquote ol li, .journal .journal-wrapper .journal-item table p, .journal .journal-wrapper .journal-item table ul li, .journal .journal-wrapper .journal-item table ol li {
  font-family: TextBook;
  text-align: left;
  font-size: 14pt;
  font-weight: normal;
  line-height: 16pt;
  margin-top: 0;
}
.journal .journal-wrapper .journal-item blockquote p strong, .journal .journal-wrapper .journal-item blockquote ul li strong, .journal .journal-wrapper .journal-item blockquote ol li strong, .journal .journal-wrapper .journal-item table p strong, .journal .journal-wrapper .journal-item table ul li strong, .journal .journal-wrapper .journal-item table ol li strong {
  color: #a1211e;
  font-size: 16pt;
  font-weight: bold;
  line-height: 16pt;
}
.journal .journal-wrapper .journal-item blockquote p, .journal .journal-wrapper .journal-item table p {
  margin-top: 20px;
}
.journal .journal-wrapper .journal-item blockquote ul li:after, .journal .journal-wrapper .journal-item table ul li:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  margin-top: -2px;
  background-color: #4a4a4a;
  width: 4px;
  height: 4px;
  z-index: 1;
  border-radius: 50%;
}
.journal .journal-wrapper .journal-item blockquote ul li:before, .journal .journal-wrapper .journal-item table ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: unset;
  width: 25px;
  z-index: 0;
  height: 20px;
}
.journal .journal-wrapper .journal-item code {
  font-family: Magic;
}
.journal .journal-wrapper .journal-item code.author {
  font-size: 13pt;
}
.journal .journal-wrapper .journal-item code.lead {
  font-size: 15pt;
}

/*# sourceMappingURL=sp.css.map */
