{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <p class="lead">Список сокращённых url</p>
        <table class="table table-striped">
            <tr>
            <th>Исходная</th>
            <th>Краткая</th>
            </tr>
            {% for converted_url in converted_urls %}
            <tr>
                <td>{{ converted_url.long_url }}</td>
                <td>{{ converted_url.get_short_url_with_prefix }}</td>
            </tr>
            {% endfor %}
        </table>
        <a class='btn btn-primary btn-lg' href="{% url 'list_template_url' %}" role="button">Добавить url</a>
    </div>
{% endblock %}
