{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <h3 class="lead">Список шаблонов</h3>
    <table class="table table-striped">
        <tr>
        <th>Название</th>
        <th>Шаблон</th>
        </tr>
        {% for template_url in templates_url %}   
        <tr>
            <td><a href="{% url 'template' pk=template_url.pk %}">{{ template_url.title }}</a></td>
            <td><a href="{% url 'template' pk=template_url.pk %}">{{ template_url.template }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}