{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-center wrapper wrapper-content animated fadeInRight">
  <form method="POST">
      {% csrf_token %}
      {{ form }}
      <input class="btn btn-success" type="submit" value="Конвертировать ссылку"/>
    </form>
</div>
{% endblock %}