@font-face {
  font-family: 'Symbol';
  src: url('../fonts/SymbolMT.eot');
  src: url('../fonts/SymbolMT.eot?#iefix') format('embedded-opentype'), url('../fonts/SymbolMT.woff2') format('woff2'), url('../fonts/SymbolMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magic';
  src: url('../fonts/Magic.eot');
  src: url('../fonts/Magic.eot?#iefix') format('embedded-opentype'), url('../fonts/Magic.woff2') format('woff2'), url('../fonts/Magic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Academy';
  src: url('../fonts/Academy.eot');
  src: url('../fonts/Academy.eot?#iefix') format('embedded-opentype'), url('../fonts/Academy.woff2') format('woff2'), url('../fonts/Academy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextBook';
  src: url('../fonts/TextBook-Regular.eot');
  src: url('../fonts/TextBook-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TextBook-Regular.woff2') format('woff2'), url('../fonts/TextBook-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TextBook';
  src: url('../fonts/TextBook-Bold.eot');
  src: url('../fonts/TextBook-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TextBook-Bold.woff2') format('woff2'), url('../fonts/TextBook-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Magic';
  src: url('../fonts/Magic-Bold.eot');
  src: url('../fonts/Magic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Magic-Bold.woff2') format('woff2'), url('../fonts/Magic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Academy';
  src: url('../fonts/Academy-Italic.eot');
  src: url('../fonts/Academy-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Academy-Italic.woff2') format('woff2'), url('../fonts/Academy-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

#markdown-editormd {
  .editormd-preview {
    .markdown-body {
      margin: 0;
      padding: 8px 0px;
      //position: relative;

      @import "sp_article";
    }

  }
}
