<nav class="navbar-default navbar-static-side" role="navigation" id="nav-side-menu">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" style="display: none">
            
        </ul>

    </div>
</nav>
