{% extends "short_url/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Список шаблонов</h3>
<ul>
{% for template_url in templates_url %}   
    <il><a href="{% url 'template' pk=template_url.pk %}">{{ template_url.title }}</a></il>    
{% endfor %}
</ul>


{% endblock %}