{% extends "short_url/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form name="ConverUrlForm" action="{% url 'converted_url' %}" method="post">
    {% csrf_token %}
    <div class="row"></div>
        <form name="registerForm" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}<br>
            {{ form.password1|as_crispy_field }}<br>
            {{ form.password2|as_crispy_field }}<br>
            {{ form.errors }}<br>
            <input class="btn btn-success" type="submit" value="Зарегистрироваться" />
        </form>
    </div>
</div>
<br>
{% endblock %}